.box {
    width: 100px;
    height: 100px;
    background-color: rosybrown;
    transition: 1s;
}

.box:active {
    width: 300px;
}

input {
    color: white;
}

input:focus {
    background-color: cadetblue;
}